
.hero,.footer
{
   background-color: #1f2937;
   color: #E5E7EB;

}

.maintext
{
   font-size: 48px;
   font-weight:#F9FAF8;
}
.secondary
{
    font-size: 18px ;

}

a
{
    text-decoration: none;
    color: inherit;
    
}
h3
{
    font-size: 24px;
    font-weight:#F9FAF8;

  
}

.phase3
{
    background-color: #3882f6;
    color: white;
    border-style: groove;
    border-color: bisque;
    font-family:cursive;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 50px;
    margin-left: 500px;
    width: 700px;
    padding: 20px;
    border-radius: 7px;
    
   
}
.twoline
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 180px;

}


h2
{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.quote
{
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    padding: 50px;

}
button
{
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 15px;
    border-color: #E5E7EB;
}
.one
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links
{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.two
{
    display: flex;
    flex :1;
}

.family
{
    height: 600px;
    width: 800px;
    margin-left: 200px;
    margin-right: 343px;
    margin-bottom: 100px;
}
.hpb
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 100px;
}
.signup
{
    padding: 5px;
   font-size: medium;
   width: 100px;
   
}
h2
{
    text-align: center;
}

.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
}
.meg
{
    height: 318px;
    width: 252px;
}
.pc1,.pc2,.pc3,.pc4
{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   align-items: center;
   color: black;
   font-weight: bolder;
 
}

.david
{
    text-align: right;
    margin-right: 100px;
}
.footer
{
    padding: 15px;
    text-align: center;
}
